<!DOCTYPE HTML>
<html lang = "en">

	<head>
		<meta charset="UTF-8">
		<title> About Us </title>
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/about_style.css">
   </head>


	<body>


		<% include header.ejs %>
		<% include user-navigation.ejs %>
		<% include site-navigation.ejs %>


    <p class="about"> Our Company: <br><br>Fabulous Flowers is a Charlotte based Florist website which has been running since 2010. At Fabulous Flowers, we're proud to have been connecting customers with the nation's best florists for more than 5 years.
			 We have an extensive network, coupled with our commitment to exceptional customer service, means that when you send flowers, you can be confident that you're sending the best. <br><br>As a service organization rather than a florist, we make it easy to select beautiful
			  florist-delivered products by investing in the most modern technology, seeking continuous innovation and improvement in services, and providing the best people in the business to ensure your confidence that your order will be placed easily and filled
				by our florist quickly and professionally to your complete satisfaction.</p>

	<% include footer.ejs %>
  </body>

</html>
