<!DOCTYPE HTML>
<html lang = "en">
	<head>
		<meta charset="UTF-8">
		<title> Categories </title>
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/categories_style.css">
	</head>


	<body>

		<% include header.ejs %>
		<% include user-navigation.ejs %>
		<% include site-navigation.ejs %>


				<section>
				<article>
					<p><a href="index">Home</a> > <a href="categories">Categories</a></p><br>


					<% for (var j = 0; j < Category.length; j++) { %>
						<p><%=Category[j].name%></p>
						<% for (var i = 0; i < Items.length; i++) { %>
 							<% if (Items[i].Catalog_Category == Category[j].name) {%>
 								<p><a href="/item/<%=Items[i].Item_Code %>" ><%= Items[i].Item_Name %></a></p>
 							<% } %>
 						<% } %>

						<%}%>
						<a href="/new_item">Click here to add new items to the catalog</a>
</article>
</section>
<% include footer.ejs %>
	</body>

 </html>
