<!DOCTYPE HTML>
<html lang = "en">

	<head>
		<meta charset="UTF-8">
		<title> Florist </title>
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/index_style.css">
	</head>


	<body>
<% include header.ejs %>
<% include user-navigation.ejs %>
<% include site-navigation.ejs %>



			<section>

				<article>

					<p> We have flowers for every ocassion and we provide a wide variety of flowers.
						A bouquet makes gifting much easier. Whatever the occassion may be, we can
						provide fresh flower delivery services anytime. Just select the bouquet you
						wish to gift, drop us the address of your loved one, the time of delivery
						and we can make your surprise a pleasant one.
					</p><br><br>

					<p>We offer a wide variety of flowers including Daisies, Lillies, Tulips
					    and many more for you to choose your favorite ones. We can make your
						holidays, birthdays or anniversaries memorable with our flower decorations.
					</p>

					<p> What are you waiting for !!!!! just go right ahead and select your favorite flowers. </p>

				</article>
			</section>

<% include footer.ejs %>

	</body>

 </html>
