      <aside class="leftbox">
        <p> <a href= "/"> Home </a></p>
        <p> <a href = "/categories"> Categories </a> </p>
        <p> <a href = "#"> Store </a> </p>
        <p> <a href = "/about"> About</a> </p>
        <p> <a href = "/contact"> Contact Us </a> </p>
      </aside>
