
  <nav>
    <ul>
        <li> <a href="/myitems?action=<%=signinout%>"> <%=signinout%></a> </li>
        <li> <a href="/myitems"> My Items </a> </li>
        <li> <a href= "#"> My Cart </a> </li>
    </ul>
  </nav>
